name: Playwright Tests

on:
    push:
        branches:
        - main
jobs:
    playwright_tests:
        runs-on: ubuntu-latest
        env:
            PORT: 8081
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v5
              with:
                  node-version: '20'
            - name: Install dependencies    
              run: npm install
            - name: Run Playwright tests
              run: npm run e2e-test
            - name: Show Playwright report
              if: always()
              run: npm run e2e-test:report

